
.root {
    width: 80%;
    margin: auto;
    padding-top: 2em;
}

.project-list-project {
    margin: 1em;
    border-radius: 10px;
    background-color: rgba(146, 210, 144, 0.2);
    padding-bottom: 1rem;

    h3 {
        text-align: right;
        margin-right: 1em;
        padding-top: 0.5em;
    }

    .list {

        h4 {
            padding: 0.5em;
            border-color: rgba(146, 210, 144, 0.5); 
            border-bottom: 1px;
            border-top: 1px; 
            background-color: rgba(146, 210, 144, 0.2);
        }
        ul {
            max-height: 300px;
            margin-left: 2em;
            overflow-y: auto;
        }
    }
}